<footer class="site-footer">
  <div class="container">
    <div class="row text center">
      <div class="col-sm-12 col-md-7">
        <h6>About</h6>
        <p class="text-justify" style="font-size: 18px">
          Movie Buddy is developed for people to browse through all the
          available Movies, TV shows and Casts in a easy and intutive UI. And to
          showcase our talent in the web developing side
        </p>
        <span class="h6">Source</span>
        <a href="https://www.themoviedb.org/">TMDB</a> &amp;
        <a href="https://www.omdbapi.com/">OMDB</a>
      </div>

      <div class="col-md-2"></div>
      <div class="col-xs-6 col-md-3">
        <h6>Contact Us</h6>
        <ul class="footer-links">
          <li>
            <i class="fa fa-facebook"></i>
            <a href="https://www.facebook.com/augustin.dennis.10">Facebook</a>
          </li>
          <li>
            <i class="fa fa-instagram"></i>
            <a href="https://www.instagram.com/dennisovich.py/">Instagram</a>
          </li>
          <li>
            <i class="fa fa-inbox"></i>
            <a href="mailto:adennis9993@gmail.com">adennis9993@gmail.com</a>
          </li>
          <li>
            <i class="fa fa-phone"></i>
            +91 8122610665
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="copyright-text">
        Copyright &copy; 2020 All Rights Reserved by Dennis
      </p>
    </div>
  </div>
</footer>
