<nav class="navbar navbar-expand-lg fixed-top">
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="fa fa-bars"></span>
  </button> -->
  <a href="/">
    <i style="padding: 15px;">
      <img src="/img/logotrans.png" alt="" height="40px" />
    </i>
  </a>
  <a class="navbar-brand hide brand" href="/">Movie Buddy </a>
  <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link">Movie </a>
        <div class="dropdown">
          <a href="/display/movie/upcoming">Upcoming</a>
          <a href="/display/movie/latest">Latest</a>
          <a href="/display/movie/popular">Popular</a>
          <a href="/display/movie/nowplaying">Now Playing</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link">TV</a>
        <div class="dropdown">
          <a href="">dennis</a>
          <a href="">dennis</a>
          <a href="">dennis</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cast</a>
      </li>
    </ul>
  </div> -->
  <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
    <div>
      <select id="cars" name="type" class="btn-default hide">
        <option value="multi">All</option>
        <option value="movie">Movie</option>
        <option value="tv">TV</option>
        <option value="person">Cast</option>
      </select>
      <input
        name="search"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search "
        aria-label="Search"
        required
      />
    </div>
    <button class="btn" type="submit">
      <span class="stext">Search</span>
    </button>
    <div class="splitter"></div>
    <% if(user === undefined){ %>
    <a href="/user/signup" class="signin">
      <i class="fa fa-user-plus" style="font-size: 20px;"></i>
      <span class="hide" style="margin-left: 15px;">Sign In</span>
    </a>
    <% }else{ %>
    <a href="/user/profile" class="signin">
      <i class="fa fa-user" style="font-size: 20px;"></i>
      <span class="hide" style="margin-left: 15px;"><%= user.name %></span>
    </a>
    <% } %>
  </form>
</nav>
