<%- include('../partials/messages') %>

<div class="animated fadeInUp delay-2s">
  <form action="/user/forgot" method="POST" class="forgot">
    <a href="/">
      <div class="logo-container">
        <img src="/img/logotrans.png" alt="" width="60px" />
      </div>
    </a>
    <!-- <p>Login to your account</p> -->
    <p class="score" style="font-size: 12px !important; text-align: center;">
      Reset link will be sent to your Mail ID
    </p>
    <div>
      <i class="fa fa-envelope"></i>
      <input type="text" placeholder="Email" name="email" required />
    </div>
    <button type="submit" class="btn">SUBMIT</button>
  </form>
</div>
