<%- include('../partials/messages') %>

<div class="animated fadeInUp delay-2s">
  <form action="login" method="POST" class="login">
    <a href="/">
      <div class="logo-container">
        <img src="/img/logowhite.png" alt="" width="60px" />
      </div>
    </a>
    <!-- <p>Login to your account</p> -->
    <div>
      <i class="fa fa-envelope"></i>
      <input type="text" placeholder="Email" name="email" />
    </div>
    <div>
      <i class="fa fa-key"></i>
      <input type="password" placeholder="Password" name="password" />
    </div>
    <button type="submit" class="btn">LOGIN</button>
    <p class="exist"><a href="signup">Create Your Account</a></p>
  </form>
</div>
